backend:
  name: git-gateway
  branch: main # Branch to update (optional; defaults to master)

local_backend: true

publish_mode: editorial_workflow

media_folder: "public/images/"
public_folder: "/images"


collections:
  - label: "Project"
    name: "images"
    format: "json"
    extension: "json"
    files:
      - label: "Images"
        name: "images"
        file: "/public/projects/images.json"
        fields:
          - name: imagesJson
            label: JSON of Images
            widget: list
            fields: 
              - {label: "type", name: "type", widget: "string"}
              - {label: "path", name: "path", widget: "image"}
              - {label: "id", name: "id", widget: "number"}
              - {label: "title", name: "title", widget: "string"}
              - {label: "year", name: "year", widget: "string"}
              - {label: "description", name: "description", widget: "string"}
              - {label: "materials", name: "materials", widget: "string"}   