backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)

publish_mode: editorial_workflow

media_folder: "public/images/"
public_folder: "images"


collections:
  - label: "Pages"
    name: "pages"
    files:
      - label: "About Page"
        name: "about"
        file: "public/projects/images.json"
        fields: # The fields for each document, usually in front matter
          - {label: "type", name: "type", widget: "string"}
          - {label: "id", name: "id", widget: "number"}
          - {label: "title", name: "title", widget: "string"}
    