backend:
  name: git-gateway
  branch: main # Branch to update (optional; defaults to master)

local_backend: true

publish_mode: editorial_workflow

media_folder: "public/images/"
public_folder: "/images"


collections:
  - label: "Images"
    name: "images"
    format: "json"
    extension: "json"
    folder: "public/projects"
    fields: # The fields for each document, usually in front matter
      - {label: "type", name: "type", widget: "string"}
      - {label: "id", name: "id", widget: "number"}
      - {label: "title", name: "title", widget: "string"}
      - {label: "year", name: "year", widget: "string"}
      - {label: "description", name: "description", widget: "string"}
      - {label: "materials", name: "materials", widget: "string"}
    